{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/hola.css' %} ">
    <link rel="stylesheet" href= "{% static 'css/hola1.css' %} ">
    <title>Document</title>
</head>
<body>
    {% block title %}
    <h1> Hola !!! Vamos river!!</h1>
    {% endblock %}

    {% block content %}
    Bloque de pruebas a ser llenado por los hijos.
    {% endblock %}
</body>
</html>